# dependencies
node_modules

# build outputs
dist
.next

# sqlite
*.db
*.db-journal
*.db-shm
*.db-wal

# environment files
.env
.env.*.local

# logs
*.log

# editor directories
.vscode/
.idea/

# macOS
.DS_Store

# turborepo cache
.turbo/
