@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background:          240 11% 96%;
    --foreground:          222 47% 11%;
    --card:                0 0% 100%;
    --card-foreground:     222 47% 11%;
    --popover:             0 0% 100%;
    --popover-foreground:  222 47% 11%;
    --primary:             221 83% 53%;
    --primary-foreground:  210 40% 98%;
    --muted:               210 40% 96%;
    --muted-foreground:    215 16% 47%;
    --accent:              210 40% 96%;
    --accent-foreground:   222 47% 11%;
    --destructive:         0 84% 60%;
    --destructive-foreground: 210 40% 98%;
    --border:              214 32% 91%;
    --input:               214 32% 91%;
    --ring:                221 83% 53%;
    --radius:              0.5rem;

    --sidebar-bg:         0 0% 98%;
    --sidebar-fg:         240 5% 26%;
    --sidebar-border:     220 13% 91%;
    --sidebar-accent:     240 5% 94%;
    --sidebar-accent-fg:  240 6% 10%;
  }

  .dark {
    --background:          210 5% 10%;
    --foreground:          210 5% 85%;
    --card:                214 8% 16%;
    --card-foreground:     210 40% 98%;
    --popover:             210 5% 12%;
    --popover-foreground:  210 40% 98%;
    --primary:             217 91% 60%;
    --primary-foreground:  222 47% 11%;
    --muted:               210  5% 30%;
    --muted-foreground:    210  0% 70%;
    /* ——— Cold Eucaliptus —————————————————————————————————————————————————— */
    --accent:              135 8% 19%;
    --accent-foreground:   111 12% 89%;
    --sidebar-accent:      135 8% 20%;
    
    /* —————————————————————————————————————————————————————————————————————— */
    --destructive:         0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    
    --border:              210 5% 18%;
    --input:               217 33% 17%;
    --ring:                224 76% 48%;

    --sidebar-bg:         210 5% 12%;
    --sidebar-fg:         240 5% 96%;
    --sidebar-border:     210 4% 16%;
    --sidebar-accent-fg:  240 5% 96%;
  }
}

@layer base {
  * { @apply border-border; }
  body { @apply bg-background text-foreground; }
}
