{% extends "layout/base.html" %}

{% block title %}Início{% endblock %}

{% block main %}
<main class="p-4">
    <section class="">
        
        <c-tabs variant="tabs--pills">
            <c-slot name="tabs">
                <button class="tabs__tab active" data-tab="dados"   role="tab">Dados</button>
                <button class="tabs__tab"        data-tab="config"  role="tab">Configurações</button>
            </c-slot>
            <div class="tabs__panel active" data-panel="dados">
                
                <form autocomplete="off" class="d-grid grid-fit-rest align-center gap-2">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" name="nome" id="nome" class="form-control form-control-sm mt-1" placeholder="Nome completo">
                    <label for="cpf" class="form-label">CPF</label>
                    <input type="text" name="cpf" id="cpf" class="form-control form-control-sm mw-2xs">
                </form>
                
            </div>
            <div class="tabs__panel" data-panel="config">
                <p>Conteúdo da aba Configurações</p>
            </div>
        </c-tabs>
        
        <c-hcard name="João Silva" sub="@joao" dismiss="manual" mode="click" placement="top" balloon="true">
            <c-slot name="trigger">
                <span>Foo</span>
            </c-slot>
            Desenvolvedor full-stack.
            <c-slot name="footer">
                <span><strong>128</strong> seguindo</span>
            </c-slot>
        </c-hcard>



    </section>
</main>
{% endblock %}