{% extends base_template %}

{% block title %}Início{% endblock %}

{% block main %}
<main class="p-4">

    <c-tabs variant="tabs--pills mt-4">
            <c-slot name="tabs">
                <button class="tabs__tab active" data-tab="dados"   role="tab">Dados</button>
                <button class="tabs__tab"        data-tab="config"  role="tab">Configurações</button>
            </c-slot>
            <div class="tabs__panel active" data-panel="dados">
                
                <form autocomplete="off" class="d-grid grid-fit-rest align-center gap-2">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" data-autofocus name="nome" id="nome" class="form-control form-control-sm mt-1" placeholder="Nome completo">
                    <label for="cpf" class="form-label">CPF</label>
                    <input type="text" name="cpf" id="cpf" class="form-control form-control-sm mw-2xs">
                    <span></span><label class="form-check"><input type="checkbox" class="form-check-input"><span class="form-check-label">Lembrar acesso</span></label>
                </form>
                <a href="" class="btn btn-ghost-brand">Aguarde</a>
            </div>
            <div class="tabs__panel" data-panel="config">
                <div class="d-flex">
                    <p>Conteúdo da aba<div class="divider-v divider-v--md"></div>Configurações</p>
                </div>
                <hr class="divider">
            </div>
        </c-tabs>
    
    <section class="mb-5">

        <c-dropdown>
            <button class="btn btn-outline btn-dropdown" data-dropdown-toggle>Opções</button>
            <c-slot name="menu">
                <li class="dropdown-item">Editar</li>
                <li class="dropdown-item dropdown-item--danger">Excluir</li>
            </c-slot>
        </c-dropdown>

        <c-dropdown variant="split" align="end" btn_class="btn-outline btn-sm">
            <c-slot name="link">
                <button class="btn btn-outline btn-sm dropdown__split-link" onclick="alert('clicado')">Label</button>
            </c-slot>
            <c-slot name="menu">
                <li class="dropdown-item">Duplicar</li>
            </c-slot>
        </c-dropdown>

        <c-dropdown variant="hover" delay_open="300" delay_close="150">
            <button class="btn btn-outline btn-dropdown" data-dropdown-toggle>Opções</button>
            <c-slot name="menu">
                <li class="dropdown-item" onclick="alert('clicado 2')">Editar</li>
            </c-slot>
        </c-dropdown>
    </section>
    
    <section class="">
        <div class="d-grid grid-cols-2">
            <div class="bg-secondary p-4">bg-body
                <div class="bg-body p-4">bg-secondary
                    <div class="bg-tertiary p-4">bg-tertiary</div>
                </div>
            </div>
            <div class="bg-alt p-4">bg-alt
                <div class="bg-alt-secondary p-4">bg-alt-secondary
                    <div class="bg-alt-tertiary p-4">bg-alt-tertiary</div>
                </div>
            </div>
        </div>

        <div class="d-grid grid-cols-4 gap-3 mt-4">
            <div class="bg-brand p-3">bg-brand</div>
            <div class="bg-info p-3">bg-info</div>
            <div class="bg-warning p-3">bg-warning</div>
            <div class="bg-danger p-3">bg-danger</div>
            <div class="bg-success p-3">bg-success</div>
            <div class="bg-attention p-3">bg-attention</div>
            <div class="bg-promoted p-3">bg-promoted</div>
            <div class="bg-discovery p-3">bg-discovery</div>
        </div>
        <hr class="divider my-4">
        <div class="d-grid grid-cols-4 gap-3">
            <div class="text-bg-brand p-3">text-bg-brand</div>
            <div class="text-bg-info p-3">text-bg-info</div>
            <div class="text-bg-warning p-3">text-bg-warning</div>
            <div class="text-bg-danger p-3">text-bg-danger</div>
            <div class="text-bg-success p-3">text-bg-success</div>
            <div class="text-bg-attention p-3">text-bg-attention</div>
            <div class="text-bg-promoted p-3">text-bg-promoted</div>
            <div class="text-bg-discovery p-3">text-bg-discovery</div>
        </div>
        <div class="d-grid mt-4">
            <div class="text-brand">text-brand</div>
            <div class="text-info">text-info</div>
            <div class="text-warning">text-warning</div>
            <div class="text-danger">text-danger</div>
            <div class="text-success">text-success</div>
            <div class="text-attention">text-attention</div>
            <div class="text-promoted">text-promoted</div>
            <div class="text-discovery">text-discovery</div>
        </div>
        
        <div class="p-3 bg-secondary">
            <a href="" class="btn btn-body">Button</a>
            <a href="" class="btn btn-tertiary">Button</a>
            <a href="" class="btn btn-alt">Button</a>
            <a href="" class="btn btn-alt-secondary">Button</a>
            <a href="" class="btn btn-brand">Button</a>
            <a href="" class="btn btn-info">Button</a>
            <a href="" class="btn btn-warning">Button</a>
            <a href="" class="btn btn-danger">Button</a>
            <a href="" class="btn btn-success">Button</a>
            <a href="" class="btn btn-attention">Button</a>
            <a href="" class="btn btn-promoted">Button</a>
            <a href="" class="btn btn-discovery">Button</a>
        </div>
        <a href="" class="btn btn-secondary mt-4">secondary</a>
    </section>
</main>
{% endblock %}

</script>