<nav class="breadcrumb bg-tertiary p-2 rounded" aria-label="navegacao">
    {% for item in breadcrumbs %}
        {% if item.actions %}
            <div class="breadcrumb__dropdown-wrap">
                {% if item.url %}
                    {% if forloop.first %}
                        <a href="{% url item.url %}"
                           class="btn btn-ghost-alt"
                           data-keybind="{% if item.url == back_url %}alt+v;{% endif %}alt+i"
                           title="{{ item.label }}"
                           data-keybind-icon="bi bi-house-fill"
                           data-keybind-order="1"
                           data-keybind-origin="nyx.breadcrumbs._1">{{ item.label }}</a>
                    {% else %}
                        <a hx-get="{% url item.url %}"
                           hx-target="#main-content"
                           hx-push-url="true"
                           class="btn btn-ghost-alt"
                           {% if item.url == back_url %}
                           data-keybind="alt+v"
                           title="Voltar para {{ item.label }}"
                           data-keybind-icon="bi bi-arrow-counterclockwise"
                           data-keybind-origin="nyx.breadcrumbs._2"
                           data-keybind-order="2"
                           {% endif %}>{{ item.label }}</a>
                    {% endif %}
                {% else %}
                    <span class="text-alt">{{ item.label }}</span>
                {% endif %}
                <i class="bi bi-arrow-right text-muted"></i>
                <div class="breadcrumb__dropdown">
                    {% for action in item.actions %}
                        <a hx-get="{% url action.url_name %}"
                           hx-target="#main-content"
                           hx-push-url="true">{{ action.label }}</a>
                    {% endfor %}
                </div>
            </div>
        {% elif item.url %}
            {% if forloop.first %}
                <a href="{% url item.url %}"
                   class="btn btn-ghost-alt"
                   data-keybind="{% if item.url == back_url %}alt+v;{% endif %}alt+i"
                   title="{{ item.label }}"
                   data-keybind-icon="bi bi-house-fill"
                   data-keybind-order="1"
                   data-keybind-origin="nyx.breadcrumbs._3">{{ item.label }}</a>
            {% else %}
                <a hx-get="{% url item.url %}"
                   hx-target="#main-content"
                   hx-push-url="true"
                   class="btn btn-ghost-alt"
                   {% if item.url == back_url %}
                   data-keybind="alt+v"
                   title="Voltar para {{ item.label }}"
                   data-keybind-icon="bi bi-arrow-counterclockwise"
                   data-keybind-origin="nyx.breadcrumbs._4"
                   data-keybind-order="2"
                   {% endif %}>{{ item.label }}</a>
            {% endif %}
        {% else %}
            <span class="btn-static font-medium text-alt-emp">{{ item.label }}</span>
        {% endif %}

        {% if not forloop.last %}
            <i class="bi bi-arrow-right-short text-muted"></i>
        {% endif %}

    {% endfor %}
</nav>
