<div>
    FII
    <div class="dropdown" data-component="dropdown">
            <button class="btn btn-outline btn-dropdown" data-dropdown-toggle>Opções</button>
            <ul class="dropdown-menu" data-dropdown-menu>
                <li class="dropdown-item">Editar</li>
                <li class="dropdown-item">Duplicar</li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item dropdown-item--danger">Excluir</li>
            </ul>
        </div>
</div>
{% block main %}{% endblock %}
